

 body {
     margin-top: 10px;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #f0f0f0;
     flex-direction: column;

 }

 .header {
     text-align: center;
     background-color: #4CAF50;
     color: white;
     padding: 10px 10px;
     border-radius: 10px;
     border: 2px solid black;
     font-size: 24px;
     width: 90%;
     margin: 5px auto;
 }

 .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
     background-color: #66a3ff;
     /* Blue background */
     color: #fff;
     /* White text */
 }

  body {
      margin-top: 10px;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f0f0f0;
      flex-direction: column;

  }

  .header {
      text-align: center;
      background-color: #4CAF50;
      color: white;
      padding: 10px 10px;
      border-radius: 10px;
      border: 2px solid black;
      font-size: 24px;
      width: 90%;
      margin: 5px auto;
  }

  .nav-menu {
      text-align: center;
      margin-bottom: 20px;
  }

  .nav-menu button {
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      height: 60px;
      background-color: #4CAF50;
      color: white;
  }

  .nav-menu button:hover {
      background-color: #45a049;
  }

  .card {
      display: flex;
      flex-direction: column;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 10px;
      position: relative;
      transition: transform 0.3s ease;
  }

  .card.selected {
      background-color: #ffe5cc;
      /* Light orange background when selected */
  }

  .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
  }

  .content-section {
      width: 48%;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      background-color: #f0f0f0;
      /* Light grey background */
      user-select: none;
      /* Prevent text selection */
  }

  .button-container {
      display: flex;
      justify-content: space-between;
      display: none;
      /* Hide by default */
  }

  .button {
      padding: 5px 10px;
      cursor: pointer;
      background-color: #66a3ff;
      color: #fff;
      border: none;
      border-radius: 3px;
      margin-top: 5px;
  }

  .button:hover {
      background-color: #4d94ff;
  }

  .editable {
      cursor: text;
      /* Change cursor on hover */
  }

  .editable:hover {
      background-color: #f9f9f9;
      /* Light grey background on hover */
  }

  /* Styles for category headers */
  .category-header {
      font-size: 20px;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 10px;
      text-align: center;
      text-transform: capitalize;
      /* Capitalize first letter of each word */
  }

  /* Styles for card container */
  .card-category-container {
      border: 1px solid #000;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 20px;
      background-color: #bfefff;
      /* Light blue background color */
  }

  /* Additional styles */
  .info-container {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      margin: 10px;
      padding: 5px;
  }

  .info-label {
      font-weight: bold;
  }

  .checkmark {
      float: right;
      padding: 5px;
  }

  body {
      margin-top: 10px;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f0f0f0;
      flex-direction: column;

  }

  .header {
      text-align: center;
      background-color: #4CAF50;
      color: white;
      padding: 10px 10px;
      border-radius: 10px;
      border: 2px solid black;
      font-size: 24px;
      width: 90%;
      margin: 5px auto;
  }

  .button {
      padding: 20px 40px;
      /* Increased padding for larger buttons */
      font-size: 18px;
      /* Increased font size for larger buttons */
      border: none;
      border-radius: 10px;
      /* Increased border-radius for rounded corners */
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;
  }

  .btn {
      padding: 40px 50px;
      font-size: 22px;
      border: thin, black;
      border-radius: 10px;
      color: orange;
      cursor: pointer;
      transition: background-color 0.5s;
      margin: 0 5px;
  }

  .btn:hover {
      background-color: #0056b3;
  }

  .btn-container {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
  }

  .btns-fixed {
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
  }

  .btn-container {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
  }




  .btn:hover {
      background-color: #0056b3;
  }

  .card {
      width: 300px;
      height: 200px;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      perspective: 1000px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .card-container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .card-content {
      width: 90%;
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      transition: transform 0.5s;
      backface-visibility: hidden;
  }

  .container {
      margin-bottom: 100px;
      /* Adjust as needed */
  }

  .card.flip .front {
      animation: flipFront 0.2s forwards;
  }

  .card.flip .back {
      animation: flipBack 0.2s forwards;
  }

  @keyframes flipFront {
      from {
          transform: rotateY(0deg);
      }

      to {
          transform: rotateY(-180deg);
      }
  }

  @keyframes flipBack {
      from {
          transform: rotateY(180deg);
      }

      to {
          transform: rotateY(0deg);
      }
  }

  .card.flip .slideOutRight {
      animation: slideOutRight 1s forwards;
  }

  .card.flip .slideOutLeft {
      animation: slideOutLeft 1s forwards;
  }

  @keyframes slideOutRight {
      from {
          transform: translateX(0);
      }

      to {
          transform: translateX(100%);
      }
  }

  @keyframes slideOutLeft {
      from {
          transform: translateX(0);
      }

      to {
          transform: translateX(-100%);
      }
  }

  .counter {
      display: flex;
      top: 20px;
      left: 10px;
      font-size: 24px;
  }

  .front,
  .back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .back {
      transform: rotateY(180deg);
  }

  .log {
      margin-top: 20px;
      margin-bottom: 50px;
      height: 20px;
      visibility: hidden;
      text-align: center;
  }

  .slideOutRight {
      animation: slideOutRight 1s forwards;
  }

  .slideOutLeft {
      animation: slideOutLeft 1s forwards;
  }



  .nav-menu {
      text-align: center;
      margin-bottom: 20px;

  }

  .nav-menu button {
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      background-color: #4CAF50;
      color: white;
      height: 60px;
  }

  .nav-menu button:hover {
      background-color: #45a049;
  }

   body {
       margin-top: 10px;
       margin: 0;
       padding: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: #f0f0f0;
       flex-direction: column;

   }

   .header {
       text-align: center;
       background-color: #4CAF50;
       color: white;
       padding: 10px 10px;
       border-radius: 10px;
       border: 2px solid black;
       font-size: 24px;
       width: 90%;
       margin: 5px auto;
   }

   .nav-menu {
       text-align: center;
       margin-bottom: 20px;
   }

   .nav-menu button {
       border: none;
       border-radius: 5px;
       cursor: pointer;
       font-size: 16px;
       height: 60px;
       background-color: #4CAF50;
       color: white;
   }

   .nav-menu button:hover {
       background-color: #45a049;
   }

   .home-btn {
       margin-bottom: 10px;
   }

   .progress-bar-container {
       width: 80%;
       margin: 0 auto;
   }

   .progress-bar {
       background-color: #ddd;
       border-radius: 5px;
       padding: 3px;
       position: relative;
       /* Added for positioning */
   }

   .progress-bar-inner {
       background-color: #4CAF50;
       height: 20px;
       border-radius: 5px;
       width: 50%;
       /* Change the width dynamically based on the number of cards stored in local storage */
       transition: width 0.5s ease-in-out;
       position: relative;
   }

   .progress-count {
       text-align: center;
       margin-top: 5px;
   }

   .progress-text {
       color: white;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
   }

   .library-div,
   .learn-div {
       text-align: center;
       font-size: 28px;
       padding: 80px;
       background-color: orange;
       cursor: pointer;
       border: 2px solid black;
       margin: 15px 0px 15px 0px;
   }


   #categoryDropdown {
       width: 240px;
       font-size: 18px;
       /* Adjust the font size as needed */
       flex: .95;
       text-align: center;
       background-color: lightgray;
   }
   
 .title {
     font-size: 24px;
     font-weight: bold;
 }



 .nav-menu {
     text-align: center;
     margin-bottom: 20px;
 }

 .nav-menu button {
     border: none;
     border-radius: 5px;
     cursor: pointer;
     font-size: 16px;
     background-color: #4CAF50;
     color: white;
     height: 60px;
 }

 .nav-menu button:hover {
     background-color: #45a049;
 }

 .create-new-cards {

     margin: 5px;
     padding: 0px;
     text-align: center;
     border-radius: 5px;
     color: #fff;
 }

 .input-group {
     margin: 5px 0px 0px 0px;
     border: 1px solid #000;
     background-color: lightblue;
     /* Thin black border */
     padding: 5px;
     display: flex;
     align-items: center;
     font-size: 120%;
     /* Align items vertically */
 }

 .input-label {
     /* Moved inside input-group */
     width: 120px;
     margin: 0px;
     color: black;
 }

 .input-field {
     border: 1px solid #000;
     /* Thin black border */
     margin: 5px;
     padding: 5px;
     width: 100%;
 }

 .add-button {
     padding: 5px 50px;
     cursor: pointer;
     background-color: #fff;
     /* White background */
     color: #000;
     /* Black text */
     border: none;
     border-radius: 3px;
     margin: 45px;
     font-size: 200%;
 }

 .add-button:hover {
     background-color: #f0f0f0;
     /* Light grey background on hover */
 }

 .counter {
     border: 1px solid #000;
     padding: 5px;
     margin: 5px;
     width: 50%;
     font-size: 150%;
     /* Double the font size */
 }

/* Styling for the toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}