.header {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 24px;
    width: 90%;
    margin: 5px auto;
}

.nav-menu {
    text-align: center;.header {
            text-align: center;
            background-color: #4CAF50;
            color: white;
            padding: 10px 10px;
            border-radius: 10px;
            border: 2px solid black;
            font-size: 24px;
            width: 90%;
            margin: 5px auto;
        }
    margin-bottom: 20px;
}

.nav-menu button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    height: 60px;
}

.nav-menu button:hover {
    background-color: #45a049;
}